In [53]:
records={1001:{'Name':'Dairy-milk', 'price':15, 'quantity':400},
        1002:{'Name':'Five-star',   'price':30, 'quantity':500},
        1003:{'Name':'Milky-bar',   'price':25, 'quantity':200},
        1004:{'Name':'Lotte-Chocopie','price':50, 'quantity':100},
        1005:{'Name':'Snickers',    'price':10, 'quantity':1000}}

In [93]:
records

{1001: {'Name': 'Dairy-milk', 'price': 15, 'quantity': 394},
 1002: {'Name': 'Five-star', 'price': 30, 'quantity': 500},
 1003: {'Name': 'Milky-bar', 'price': 25, 'quantity': 200},
 1004: {'Name': 'Lotte Chocopie', 'price': 50, 'quantity': 100},
 1005: {'Name': 'Snickers', 'price': 10, 'quantity': 1000}}

In [91]:
import json
print("-"*17,"MENU","-"*17)

for key in records.keys():
    print(key,':', records[key]["Name"],'\t|' ,records[key]["price"],'\t|' ,records[key]["quantity"])

print("-"*40,"\n")

ui_pr_id=int(input("Enter Product ID: "))
ui_qu=int(input("Enter Quantity: "))

records[ui_pr_id]['quantity']-=ui_qu

print("-"*40)

print(" "*17,"BILL"," "*17)

print("Name               :",records[ui_pr_id]["Name"])
print("Price              :",records[ui_pr_id]["price"], "Rs")
print("Quantity           :",ui_qu)
print("-"*40)
print("Billing Amount     :",ui_qu*records[ui_pr_id]["price"], "Rs")
print("-"*40)

js=json.dumps(records)
fd=open("Records.json",'w')
fd.write(js)
fd.close()

----------------- MENU -----------------
1001 : Dairy-milk 	| 15 	| 396
1002 : Five-star 	| 30 	| 500
1003 : Milky-bar 	| 25 	| 200
1004 : Lotte Chocopie 	| 50 	| 100
1005 : Snickers 	| 10 	| 1000
----------------------------------------

Enter Product ID:  1001
Enter Quantity:  2

----------------------------------------
                  BILL
Name               : Dairy-milk
Price              : 15 Rs
Quantity           : 2
----------------------------------------
Billing Amount     : 30 Rs
----------------------------------------